.label-titleHeader {
    margin-left: 1rem;
    cursor: pointer;
}

.label-titleHeader:hover {
    color: #7947B5;
}

.icon-user {
    width: 5rem !important;
}

.icon-user:hover {
    color: #7947B5 !important;
}

.searchData {
    background-color: #FFFFFF;
    border-radius: 10rem;
    margin-left: 5%;
}   

.preview-onSearch {
    margin-left: 1rem;
    color: #8a8a8a;
}


@media only screen and (max-width : 650) {
    .left-navbar{
        margin-left: 9% !important;
    }
}