        <nb-actions>  
            <nb-action>
              <nb-user name="Lyn" title="Kamonchanok" picture="
                   '../../../assets/images/payu.jpg'
                " [onlyPicture]="activeMediaQuery == 'xs' ? true : false" [nbContextMenu]="userMenu"
                nbContextMenuTag="user-menu">
                
              </nb-user>
              
              <nb-icon icon="arrow-ios-downward-outline" class="icon-setting"></nb-icon> 
            </nb-action>
          </nb-actions>
