@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';


$nb-themes: nb-register-theme((

  color-primary-100: #FEEBF7,
  color-primary-200: #FED8F3,
  color-primary-300: #FCC4F1,
  color-primary-400: #F9B4F1,
  color-primary-500: #F59BF3,
  color-primary-600: #CC71D2,
  color-primary-700: #A14EB0,
  color-primary-800: #77318E,
  color-primary-900: #581D75,
  color-primary-transparent-100: rgba(245, 155, 243, 0.08),
  color-primary-transparent-200: rgba(245, 155, 243, 0.16),
  color-primary-transparent-300: rgba(245, 155, 243, 0.24),
  color-primary-transparent-400: rgba(245, 155, 243, 0.32),
  color-primary-transparent-500: rgba(245, 155, 243, 0.4),
  color-primary-transparent-600: rgba(245, 155, 243, 0.48),
  color-success-100: #EFFDD4,
  color-success-200: #DCFBAA,
  color-success-300: #C0F37D,
  color-success-400: #A4E85B,
  color-success-500: #7BD92A,
  color-success-600: #5EBA1E,
  color-success-700: #459C15,
  color-success-800: #2F7D0D,
  color-success-900: #206808,
  color-success-transparent-100: rgba(123, 217, 42, 0.08),
  color-success-transparent-200: rgba(123, 217, 42, 0.16),
  color-success-transparent-300: rgba(123, 217, 42, 0.24),
  color-success-transparent-400: rgba(123, 217, 42, 0.32),
  color-success-transparent-500: rgba(123, 217, 42, 0.4),
  color-success-transparent-600: rgba(123, 217, 42, 0.48),
  color-info-100: #FFF5E8,
  color-info-200: #FFE8D2,
  color-info-300: #FFD8BC,
  color-info-400: #FFC8AB,
  color-info-500: #FFAF90,
  color-info-600: #DB8169,
  color-info-700: #B75848,
  color-info-800: #93352D,
  color-info-900: #7A1C1B,
  color-info-transparent-100: rgba(255, 175, 144, 0.08),
  color-info-transparent-200: rgba(255, 175, 144, 0.16),
  color-info-transparent-300: rgba(255, 175, 144, 0.24),
  color-info-transparent-400: rgba(255, 175, 144, 0.32),
  color-info-transparent-500: rgba(255, 175, 144, 0.4),
  color-info-transparent-600: rgba(255, 175, 144, 0.48),
  color-warning-100: #FFF5CC,
  color-warning-200: #FFE899,
  color-warning-300: #FFD866,
  color-warning-400: #FFC83F,
  color-warning-500: #FFAE00,
  color-warning-600: #DB8E00,
  color-warning-700: #B77100,
  color-warning-800: #935600,
  color-warning-900: #7A4300,
  color-warning-transparent-100: rgba(255, 174, 0, 0.08),
  color-warning-transparent-200: rgba(255, 174, 0, 0.16),
  color-warning-transparent-300: rgba(255, 174, 0, 0.24),
  color-warning-transparent-400: rgba(255, 174, 0, 0.32),
  color-warning-transparent-500: rgba(255, 174, 0, 0.4),
  color-warning-transparent-600: rgba(255, 174, 0, 0.48),
  color-danger-100: #FFDDCC,
  color-danger-200: #FFB399,
  color-danger-300: #FF8066,
  color-danger-400: #FF503F,
  color-danger-500: #FF0000,
  color-danger-600: #DB0012,
  color-danger-700: #B7001F,
  color-danger-800: #930026,
  color-danger-900: #7A002A,
  color-danger-transparent-100: rgba(255, 0, 0, 0.08),
  color-danger-transparent-200: rgba(255, 0, 0, 0.16),
  color-danger-transparent-300: rgba(255, 0, 0, 0.24),
  color-danger-transparent-400: rgba(255, 0, 0, 0.32),
  color-danger-transparent-500: rgba(255, 0, 0, 0.4),
  color-danger-transparent-600: rgba(255, 0, 0, 0.48)

), custom-theme, default);