/* Importing Nenular SCSS file. */
@import 'custom-theme.scss';
@import 'custom-nebular.scss';
@import '~@nebular/theme/styles/globals';

/* You can add global styles to this file, and also import other style files */
@include nb-install() {
  @include nb-theme-global();
};

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Google Front. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*,html {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important ;
  line-height: unset !important;
  
}

*:focus {
  outline: none;
}

.pointer {
  cursor: pointer;
}

.pointer-none {
  cursor: none;
}

// ------------------  Layouts ---------------------
.container {
  display: grid;
  align-content: space-around;
  justify-content: space-around;
  grid-template-columns: auto auto auto auto;
}

.row {
  display: flex;
}

// ------------------  Alignment --------------------
.text-center {
  text-align: center;
  align-content: center;
  justify-content: center;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

// --------------------  Front -----------------------
h1,h2,h3,h4,h5,h6 ,label,p {
  margin-block-start: 0.7rem;
  margin-block-end: 0.7rem;
}

.text-color-default {
    color: #7947B5;
}
// ------------------ Button Action ------------------
.bt-cancel,.bt-delete,.bt-save {
  width: 50%;

}
.bt-cancel {
  margin-right: 0.5rem;
}

.ngb-dp-weekday {
  color: #9E43B8 !important;
  border: none !important;
  background-color: #fff !important;
}
.bg-primary {
  background-color: #9E43B8 !important;
}

