<nb-layout>
  <nb-layout-header>

    <div class="left-navbar">

    </div>
    
        <nb-icon icon="people-outline" class="icon-user" (click)="toggleSidebar()"></nb-icon>  
        <label class="label-titleHeader" (click)="toggleSidebar()">management</label> 


        <div class="right-navbar"><nb-icon icon="settings-2-outline" class="icon-setting"></nb-icon>  
          <nb-icon icon="bell-outline" class="icon-notifications"></nb-icon>  
        </div>
          


          <app-nav-dropdown class="user-navbar"></app-nav-dropdown>

        

     
       
</nb-layout-header>
   
    <nb-layout-column left class="colored-column-success">First</nb-layout-column>

    <nb-layout-column right class="colored-column-warning">Second</nb-layout-column>
  
  <nb-sidebar tag="left" [state]="'expanded'">
    <nb-menu [items]="sidebarMenu"></nb-menu>
  </nb-sidebar>

 </nb-layout>