.label-titleHeader{
    margin-left: 1rem;
    cursor: pointer;
}

.label-titleHeader:hover{
    color: #7947B5;
}

::ng-deep .nb-theme-default nb-icon{
    font-size: 2.5rem;
}

.left-navbar{
    margin-left: 9%;
}

.right-navbar{
    position: absolute;
    right: 17%;
}

.user-navbar{
    position: absolute;
    right: 6%;
}

.icon-user{
    cursor: pointer;
}

.icon-user:hover{
    color: #7947B5 !important;
}